
.odstep2222
{
    margin-top: 10%;
}
.borderr
{
    width: 100%;
    border-top: 1px solid black;
    opacity: 0.2; margin-bottom:1%;
    margin-top: -16%;
    
}
@media (max-width: 991.98px) {
    .odstep2222
    {
        margin-top: 25%;
    }
    .borderr
    {
        width: 100%;
        border-top: 1px solid black;
        opacity: 0.2; margin-bottom:1%;
        margin-top: 30%;
        margin-bottom: -30%;
    }
    
}
