p
{
   
    font-size: 2.5vh;
}

a
{
    color: rgb(27, 163, 43);
}
a:hover
{
    color: rgb(0, 123, 13);
    text-decoration: none;
    cursor: pointer;
}
.y p
{
    text-align: center;
}

@media (max-width: 991.98px) {
    .bialy
    {
        margin-top: 31%;
    }
    .zet
    {
        margin-top: 10%;
    }
}