.men
{
    margin-top: 220px;
}
.title
{
    letter-spacing: 2px;
    font-size: 30px;

}


.border{
    border-top: 1px solid black;
    
}
.zdjecia_omnie
{
    width:80%;
    margin-top: 30px;
    float:right;
}

.zdjecia_omnie22
{
    width: 65%;
    margin-top: 30px;
   margin-left: 15%;
}
.zdjecia_omnie222
{
    width: 65%;
    margin-top: 30px;
    margin-left: 5%;
}
.te
{
    margin-left: -15%;
}
.xde
{
    margin-left: -1%;
}
.tee
{
    margin-left: -2%;
    margin-right: 2.5%;
}
.teee
{
    margin-left: 2%;
    margin-right: -2%;
}
.tex
{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2.5vh;
    margin-left: 10%;
}
.o
{
    text-align: center;
    font-family: 'Averia Serif Libre', serif;
    font-weight: 500;
    font-size: 5vh;
    margin-top: 8%;
    margin-left: 22%;
}
@media (max-width: 991.98px) {

    h2
    {
        margin-left: 15%;
    }
    .te
    {
        margin-left: 0;
    }
    .tex
    {
        margin-left: 0;
    }
.pod
{
    
    margin-bottom: 30px;
    margin-left: 0px;
}
.zdjecia_omnie
{
    width: 80%;
    margin-right: 10%;
    margin-bottom: 4%;
}
.zdjecia_omnie22
{
    width: 80%;
    margin-top: 30px;
    margin-left:10%;
}
.zdjecia_omnie222
{
    width: 80%;
    margin-top: 2%;
    margin-left:10%;
}
.tex
{
   
    font-size: 2.5vh;
   
}
.zdjecia_omnie2
{
    width: 80%;
    margin-top: 30px;
    float:right;
    margin-right: 60px;
}
.podpis
{
    width: 100%;
    height: 100%;
    margin-right: 0px;
}
.o
{
   text-align: center;
   margin-right: 50px;
}


}

.podpis
{
    width: 25%;
    height: 55%;
    float:right;
    margin-bottom: 0px;
}
.szerokosc
{
    width: 100%;
}

#scrollToTopBtn 
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  border-radius: 70%;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: rgba(255, 0, 0, 0);
}


.sticky
{
position: sticky;
top: 0;
z-index: 1000;
}