.x
{
    width: 60%;
    margin-left: 20%;
    box-shadow: 20px 20px 20px rgba(4, 23, 4, 0.2); /* Brak przesunięcia, 4px przesunięcie w pionie, 8px rozmycie, półprzezroczysty czarny kolor */
    margin-bottom:10% ;
}
p
{
    text-align: left;

    font-size: 2.5vh;
   
    margin-top: 2%;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}
h2
{
   
    margin-top: 2%;
    font-family: 'Jost', sans-serif;
}
.h
{
    margin-top: -120px;
}
.h2
{
    margin-top: 3%;
}
.h3
{
    margin-top: 2%;
}
.h4
{
    margin-top: 4%;
    width: 100%;
}
.h5
{
  display: none;
  margin-left:3%;
}
.xx
{
    transition: transform 0.3s ease;
    
}
.xx:hover
{
    cursor: pointer;
    transform: scale(1.05); 
}
.modal-dialog {
  max-width: 100%;
  
  margin: 0 auto;
}
.modal-content {
  background-color: transparent;
  overflow: auto;
  position: absolute;
  
}


.modal-body img {
  max-height: 95.7vh;
  min-width: 100%;
  object-fit: contain;
  margin: auto;
  display: block;
  z-index: 1;
  position: relative;
  
  margin-top: 4%;
  
}
.nav-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.5em;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  z-index: 1051; /* Above modal overlay */
}
#prev { left: 1%; background-color: transparent;}
#next { right: 1%;background-color: transparent; }

#prev:hover { left: 1%; background-color: white;opacity: 0.5; color: black;}
#next:hover { right: 1%;background-color: white;opacity: 0.5; color: black;}
#close-btn {
 position: absolute;
 
  top: 10%;
  right: 3%;
 
  font-size: 4.5em;
  color: rgb(0, 0, 0);
 
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
}
#close-btn:hover
{
  background-color: rgb(255, 255, 255); color: black;
}
  .xxx
  {
    margin-top: 20px;
    transition: transform 0.3s ease;
  }
  .xxx:hover
  {
    margin-top: 20px;
    cursor: pointer;
    transform: scale(1.05); 
  }
  .h6
  {
   margin-right: 6%;
  }
  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 100%;
    }

  }
  @media (max-width: 991.98px) {
            .h
            {
                margin-top: 150px;
                
            }
            .xx
            {
              margin: 2%;
              width: 80%;
              margin-left: 10%;
            }
            .h4
            {
              margin-top: 4%;
              width: 100%;
            }
            p
            {
                margin-left: 1%;
            }
            h2
            {
                margin-left: 0px;
            }
            .z
            {
              margin-top: 30%;
            }
            .h5
            {
              display:block;
            }
            #close-btn {
              position: absolute;
              top: 5%;
              z-index: 10000;
              right: 4%;
           }
           .mmo
           {
            margin-top: 18%;
           }
           .ccv
           {
            margin-top: 5%;
           }
           .baner_mob
           {
            margin-bottom: 2%;
           }
          
  }
  @media (max-width: 992px) {
    .h4
    {
      display:none;
    }
}