.span
{
    color: red;
    font-size: 2.5vh;
    width: 100%;
}
.wyniki
{
    margin-top: -2%;
    width: 100%;
    text-align: center;
}
.span:hover
{
    color: red;
}
.form
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1%;
    margin-bottom: 5%;
}
h2
{
    text-align: center;
    margin-bottom: 4%;
}
.pP
{
    font-size: 2.5vh;
}
#email
{
    width: 80%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 20px;
    color: green;
}
.czerwonyTlo
{
    background-color: rgb(186, 0, 0);
}
.czerwonyTlo::placeholder
{
    color: white;
}
.button
{
    width: 80%;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: green;
    color: white;
}
.button:hover
{
    background-color: rgb(0, 169, 0);
}

@media (max-width: 991.98px) 
{
    .button
    {
        width: 80%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    #email
    {
        width: 80%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 0;
    }
    .form
    {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        
    }
    .pP
    {
        font-size: 2.5vh;
        text-align: center;
    }
}

@media (max-width: 720px) 
{
    .form
    {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
}
@media (max-width: 450px) 
{
    .form
    {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
    .pP
    {
        margin-left: 0%;
        font-size: 2.5vh;
    }
    .button
    {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 5%;
    }
    #email
    {
        width: 100%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 0%;
    }

}
